/* .light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
} */

/* .oldText{
    background-color: aqua;
    color: blueviolet;
} */

/* h1, h2, h3, h4, h5, h6 {
    color: brown;
    font-weight: bold;
} */
